body {
  margin: 0;
  font-family: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-rows: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:#495E57;
}

img {
  border-radius: 16px;
}

button {
  background-color: #F4CE14;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px;
  border-color: black;
}

button.reserve {
  margin-top: 0px;
}

button:hover {
  color:#495E57;
}

button:active {
  background-color:#FBDABB;
  color: black;
  border-style:solid ;
  border-color: black;
}

h1 {
  font-size: 64px;
  font-weight:bold;
  font-family: Markazi;
}

h2 {
  font-size: 40px;
  font-family: Markazi;
}

h4 {
  color: #495E57;
  margin: 12px 0;
}

div.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 2;
  width: 1080px;
  position: sticky;
  top: 0px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  max-width: 148;
  height: 51px;
  margin: auto;
}

img.header {
  display: block;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

div.headerBG {
  grid-column: 1/ span 3;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  transform: translateY(0px);
  transition-property: transform;
  transition-duration: 300ms;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-column: 2/ span 8;
  grid-row: 1;
  min-width: min-content;
  max-width: 932px;
  font-family: Karla;
  font-weight: bold;
  margin-left: 10px;
}

ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 15px;
  width: 100%;
}

li.nav {
  display: inline-block;
}

div.dropDown {
  display: none;
}

div.dropDownContent {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  top: 51px;
  right: 0px;
  width: 250px;
  height: 100px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

div.dropDownContent div:hover {
  height: 100%;
  width: 100%;
  background-color: #FBDABB;
  box-sizing: border-box;
}

div.dropDownContentItem {
  display: flex;
}

div.dropDownContentItem a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #495E57;
  margin:  auto auto auto 5px;
}

@media (max-width: 1110px) {
  div#root {
    display: flex;
    flex-direction: column;
  }

  div.header {
    width: auto;
    max-width: 1110px;
  }

  header {
    margin-left: 15px;;
  }

  ul.nav:nth-last-child(1) {
    margin-right: 15px;
  }
}

@media (max-width: 720px) {
  ul.nav {
    display: none;
  }

  div.dropDown {
    display: flex;
    flex-direction: column;
    width:55px;
    height: 100%;
    background-color: #EE9972;
    margin-left: auto;
  }

  button.dropDown {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 51px;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    font-size: 18px;
    border: 2px;
    border-color: black;
  }

  button.dropDown:hover {
    background-color: #FBDABB;
  }

  button div {
    height: 5px;
    width: 35px;
    border-radius: 2px;
    background-color:#495E57;
  }

  div.dropDown:hover div.dropDownContent {
    display: grid;
  }

  div.burgerTop {
    margin-top: 10px;
  }

  div.burgerBot {
    margin-bottom: 10px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1080px 1fr;
  grid-template-rows: auto auto auto auto;
  grid-column: 1/ span 3;
}

div.main1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 1/ span 3;
  height: 400px;
  background-color: #495E57;
  min-width: 375px;
}

section.intro {
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 2;
  width:100%;
  max-width: 1080px;
  min-width: 375px;
}

div.intro {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: fit-content;
  max-width: 815px;
}

h1.intro {
  color: #F4CE14;
  margin: 20px 0;
  width: fit-content;
}

h2.intro {
  color: white;
  margin: 20px 0;
  width: fit-content;
  position: relative;
  bottom: 20px;
}

article.intro {
  font-size: 18px;
  margin-right: 0;
  color: white;
  width: 75%;
}

img.intro {
  display: block;
  width: 300px;
  height: auto;
  max-height: 400px;
  margin-top: 25px;
  align-self: start;
  position: relative;
  right: 75px;
}

div.intro a {
  margin-top: 30px;
  width: fit-content;
  height: auto;
}

@media (max-width: 1110px) {
  main {
    display: flex;
    flex-direction: column;
  }

  div.main1 {
    background-color: #495E57;
    min-width: 375px;
  }

  section.intro {
    align-content: center;
    justify-content: center;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  div.intro {
    min-width: 375px;
    width: 375px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  div.introBG {
    display: block;
    background-image: url(./images/restaurantFood.jpg);
    width: 400px;
    background-size: 400px;
    background-position: center;
    background-color: #495E57b0;
    background-blend-mode: multiply;
    border-radius: 15px;
  }

  img.intro {
    display: none;
  }

}

section.specials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 525px;
  grid-row: 2;
  grid-column: 2;
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 1110px;
}

section.specials a {
  width: fit-content;
  height: fit-content;
  justify-self: end;
  margin-bottom: 33.2px;
}

article.specials {
  display: grid;
  width: 90%;
  max-height: 525px;
  max-width: 260px;
  grid-template-rows: auto auto;
  align-items: center;
}

article#bruschetta {
  margin-left: auto;
  margin-right: auto;
}

article#lemon {
  margin-left: auto;
}

div.specials {
  display: grid;
  grid-template-rows: 50px 250px 45px;
  align-self: start;
  align-items: center;
  height: auto;
  background-color: #EDEFEE;
  border: solid;
  border-width: 1px;
}

img.specials {
  width: 100%;
  height: auto;
  max-width: 375px;
  max-height: 175px;
  align-self: end;
  border-radius: 16px 16px 0 0;
  border-style: solid solid none solid;
  border-width: 1px;
  box-sizing: border-box;
}

div.details {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

p.description {
  margin: 0 15px;
  align-self: start;
  color: #495E57;
}

div.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
}

div.order a {
  margin-top: 0;
  margin-bottom: 0;
}

p.price {
  color: #EE9972;
}

h2.specials {
  margin-top: 0;
  grid-column: 1/ span 2;
  width: fit-content;
}

button.specials {
  grid-column: 3;
}

div.specials a {
  align-self: center;
}

@media (max-width: 1110px) {
  section.specials {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 375px;
  }

  section.specials article {
    margin-bottom: 30px;
  }

  article#lemon {
    margin-right: auto;
  }

  article.specials {
    max-width: 360px;
  }

  article.specials > img {
    width: 100%;
    object-fit: cover;
  }

  div.specials {
    grid-template-rows: 50px 100px 35px;
  }
}

div.main3 {
  display: grid;
  grid-template-columns: 1fr 1080px 1fr;
  grid-template-rows: 1fr;
  grid-column: 1/ span 3;
  height:460px;
  background-color:#FBDABB;
}

section.testimonials {
  display: flex;
  flex-direction: column;
  height: 425px;
  grid-row: 1;
  grid-column: 2;
  width: auto;
  max-width: 1080px;
}

h2.testimonials {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #495E57;
}

div.testimonials {
  display: flex;
  justify-content: space-between;
  width: auto;
}

article.testimonials {
  display: grid;
  width: 80%;
  height: 95%;
  max-width: 140px;
  align-items: center;
  grid-template-rows: auto 30px 140px;
  background-color:#EDEFEE;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
}

div.star {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.star p {
  margin-left: auto;
}

div.star img:last-child {
  margin-right: auto;
}

div.star img {
  width: 100%;
  height: auto;
  max-width: 15px;
}

div.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-rows: auto auto;
  width: 100%;
  height: auto;
  grid-row: 1;
  font-weight:bold;
}

img.reviewer {
  width: 100%;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid black;
}

p.reviewer {
  margin: 5px 0;
}

p.testimonials {
  grid-row: 3;
  width: 92%;
  margin: 5px auto auto auto;
  align-self: start;
}

@media (max-width: 1110px) {
  section.testimonials {
    width: 100%;
  }
  div.main3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 820px;
    min-width: 375px;
  }

  div.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

}

section.bio {
  display: flex;
  justify-content: space-between;
  grid-row: 4;
  grid-column: 2;
  height: 340px;
  max-width: 1110px;
}

img.bio {
  max-width: 35%;
  height: auto;
  max-height: 400px;
  margin-top: 25px;
  align-self: center;
}

h2.bio {
  font-size: 64px;
  margin-top: 25px;
  margin-bottom: 5px;
}

h3.bio {
  font-size: 40px;
  margin: 5px 0;
  font-family: Markazi;
}

article.bio {
  margin-top: 30px;
  margin-right: 40px;
}

@media (max-width: 1110px) {
  section.bio {
    height: fit-content;
    width: 100%;
  }

  div.bio {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 440px;
    height: 100%;
    background-image: url(./images/marioAndAdrianA.jpg);
    background-size: cover;
    background-color:#2c2c2c;
    background-blend-mode: overlay;
    border-radius: 15px;
    min-width: 375px;
  }

  div.bio > * {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    color:white;
  }

  article.bio {
    margin-bottom: 30px;
  }

  img.bio {
    display: none;
  }
}

div.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column: 1/ span 12;
  background-color: #EDEFEE;
  min-width: 375px;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 6;
  margin-bottom: 25px;
  width: 1080px;
}

ul.footer {
  list-style: none;
  display: inline-block;
}

img.footer {
  margin-top: 20px;
}

@media (max-width: 1110px) {
  div.footer {
    display: flex;
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
  }

}

@media (max-width: 600px) {
  ul#footerNav {
    display: none;
  }
}

@media (max-width: 400px) {
  ul#footerSM {
    display: none;
  }
}

form {
  display: grid;
  gap: 0px;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

form label {
  margin-top: 20px;;
}

input#submit {
  margin-top: 10px;
  width: 200px;
  height: 60px;
  margin: 15px auto auto auto;
}

form span {
  position: relative;
  bottom: 20px;
  font-family: Karla;
  font-size: 12pt;
  color:#F4CE14;
  max-width: 300px;
}

form label {
  margin-top: 0px;
  width: auto;
  color: white;
  font-family: Mikazi;
  font-size: 16pt;
}

form input{
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: Karla;
  font-size: 12pt;
}

form select {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: Karla;
  font-size: 12pt;
}

form input:invalid[focused="true"] {
  border: solid #F4CE14 medium;
}

form select[focused="true"][invalid="true"] {
  border: solid #F4CE14 medium;
}

div.form {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  background-color:#495E5790;
  margin: auto;
}

div.formIMG {
  grid-column: 2;
  max-width: 1080px;
  background-image: url(./images/restaurant.jpg);
  min-width: 375px;
}

div.formBG {
  grid-column: 1 /span 3;
  background-color:#495E57;
  display: grid;
  grid-template-columns: 1fr 1080px 1fr;
}

h1.form {
  max-width: 290px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-weight:bold;
  font-family: Markazi;
  color: white;
}

input#submit:enabled {
  background-color: white;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px;
  border-color: black;
}

input#submit:enabled:hover {
  color:#495E57;
}

input#submit:enabled:active {
  background-color:#FBDABB;
  color: black;
  border-style:solid ;
  border-color: black;
}

@media (max-width: 1110px) {
  div.formBG {
    display: flex;
    max-width: 1110px;
  }

  div.formIMG {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
