body {
  margin: 0;
  font-family: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:#495E57;
}

img {
  border-radius: 16px;
}

button {
  background-color: #F4CE14;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px;
  border-color: black;
}

button.reserve {
  margin-top: 30px;
}

button:hover {
  color:#495E57;
}

button:active {
  background-color: #495E57;
  color: white;
  border-style:solid ;
  border-color: black;
}

h1 {
  font-size: 64px;
  font-weight:bold;
  font-family: Markazi;
}

h2 {
  font-size: 40px;
  font-family: Markazi;
}

h4 {
  color: #495E57;
  margin: 12px 0;
}

div.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 3/ span 8;
  max-width: 960px;
}

header {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
  max-width: 148;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-column: 2/ span 7;
  grid-row: 1;
  max-width: 812px;
  font-family: Karla;
  font-weight: bold;
}

ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li.nav {
  display: inline-block;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-column: 1/ span 12;
}

div.main1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/ span 12;
  height: 400px;
  background-color: #495E57;
}

section.intro {
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 3/ span 8;
  max-width: 960px;
}

div.intro {
  margin-right: auto;
}

h1.intro {
  color: #F4CE14;
  margin: 20px 0
}

h2.intro {
  color: white;
  margin: 20px 0;
}

article.intro {
  font-size: 18px;
  margin-right: 0;
  color: white;
  width: 75%;
}

img.intro {
  max-width: 29%;
  height: auto;
  max-height: 400px;
  margin-top: 25px;
  align-self: start;
}

section.specials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 525px;
  grid-row: 2;
  grid-column: 3/ span 8;
  margin-top: 35px;
  max-width: 960px;
}

article.specials {
  display: grid;
  width: 90%;
  max-height: 525px;
  max-width: 260px;
  grid-template-rows: auto auto;
  align-items: center;
}

article#bruschetta {
  margin-left: auto;
  margin-right: auto;
}

article#lemon {
  margin-left: auto;
}

div.specials {
  display: grid;
  grid-template-rows: 50px 250px 35px;
  align-self: start;
  align-items: center;
  height: auto;
  background-color: #EDEFEE;
  border: solid;
  border-width: 1px;
}

img.specials {
  width: 100%;
  height: auto;
  max-width: 260px;
  max-height: 175px;
  align-self: end;
  border-radius: 16px 16px 0 0;
  border-style: solid solid none solid;
  border-width: 1px;
  box-sizing: border-box;
}

div.details {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

p.description {
  margin: 0 15px;
  align-self: start;
  color: #495E57;
}

div.order {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

p.price {
  color: #EE9972;
}

h2.specials {
  margin-top: 0;
  grid-column: 1/ span 2;
}

button.specials {
  grid-column: 3;
  justify-self: end;
}

div.specials a {
  align-self: center;
}

div.main3 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column: 1/ span 12;
  height:460px;
  background-color:#FBDABB;
}

section.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr;
  height: 425px;
  grid-row: 1;
  grid-column: 3/ span 8;
  max-width: 960px;
}

h2.testimonials {
  grid-column: 1/ span 4;
  margin-left: auto;
  margin-right: auto;
  color: #495E57;
}

div.testimonials {
  display: flex;
  justify-content: space-between;
  grid-column: 1/ span 4;
}

article.testimonials {
  display: grid;
  width: 80%;
  height: 95%;
  max-width: 140px;
  align-items: center;
  grid-template-rows: auto 30px 140px;
  background-color:#EDEFEE;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
}

div.star {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.star p {
  margin-left: auto;
}

div.star img:last-child {
  margin-right: auto;
}

div.star img {
  width: 100%;
  height: auto;
  max-width: 15px;
}

div.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-rows: auto auto;
  width: 100%;
  height: auto;
  grid-row: 1;
  font-weight:bold;
}

img.reviewer {
  width: 100%;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid black;
}

p.reviewer {
  margin: 5px 0;
}

p.testimonials {
  grid-row: 3;
  width: 92%;
  margin: 5px auto auto auto;
  align-self: start;
}

section.bio {
  display: flex;
  justify-content: space-between;
  grid-row: 4;
  grid-column: 3/ span 8;
  height: 340px;
  max-width: 960px;
}

img.bio {
  max-width: 35%;
  height: auto;
  max-height: 400px;
  margin-top: 25px;
  align-self: center;
}

h2.bio {
  font-size: 64px;
  margin-top: 25px;
  margin-bottom: 5px;
}

h3.bio {
  font-size: 40px;
  margin: 5px 0;
  font-family: Markazi;
}

article.bio {
  margin-top: 30px;
  margin-right: 40px;
}

div.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/ span 12;
  background-color: #EDEFEE;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-column: 3/ span 8;
  grid-row: 6;
  margin-bottom: 25px;
  max-width: 960px;
}

ul.footer {
  list-style: none;
  display: inline-block;
}

img.footer {
  margin-top: 20px;
}

form {
  display: grid;
  gap: 0px;
  align-items: start;
}

form label {
  margin-top: 20px;;
}

input#submit {
  margin-top: 20px;
}

form span {
  font-size: 8pt;
  color: red;
}